.mui-cover {
  background-color: #fff;
  position: fixed;
  z-index: 999999;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1);
  display: none;
}
.mui-cover.show {
  transform: translate3d(0, 0, 0);
}
